Package: jalalidate
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libgtk-3-0
Maintainer: Mahmud Razliqli <mahmudrazliqli@yahoo.com>
Description: Jalali Date shows the current Jalali day of the month in the system tray 
